# Variables de conexión a la base de datos
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=app_dieta
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Clave secreta para JWT (pon cualquier string largo y aleatorio en tu .env real)
JWT_SECRET=tu_clave_secreta

# Entorno de la aplicación (dev | prod)
APP_ENV=dev

# Url de la base de datos para conectar con postgresql
DATABASE_URL = "postgresql://usuario:contraseña@localhost:5432/nombre_db"